PORT=8080
AXIS_API_URL=https://hub.axisrobotics.ai/api/tasks
AXIS_COOKIE=

# Sistem terjemahan
TRANSLATION_MODE=libretranslate
LIBRETRANSLATE_URL=http://libretranslate:5000/translate
LIBRETRANSLATE_API_KEY=
TRANSLATION_SOURCE=en
TRANSLATION_TARGET=id
